.ijoMej .desktop-icon {
    width: 40px !important;
}
/* 
::-webkit-scrollbar-thumb {
    background: rgb(201 151 27) !important;
}

.cxvTmS {
    background: linear-gradient(#ccb67d, #c9971b)!important;
}

.dpwnKC {
    color: #c9971b !important;
}

.hhRQON {
    color: #c9971b !important;
}

.fHFdtO {
    color: #c9971b !important;
}

.jlffp {
    color: #303841 !important;
}

.cAURJi {
    color: #303841 !important;
}

.fkdiWx {
    box-shadow: #c9971b 0px 0px 0px 1px, #c9981b77 0px 0px 4px 8px !important;
}

.dOjqpQ {
    background-color: #c9971b !important;
} */